h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    color: #4d4d4d;
    font-family: $serif;
}

h1, .alpha   { font-size: 2.25em; } //36px
h2, .beta    { font-size: 1.875em;} //30px
h3, .gamma   { font-size: 1.5em;  } //24px
h4, .delta   { font-size: 1.25em; } //20px
h5, .epsilon { font-size: 1em;    } //16px
h6, .zeta    { font-size: .875em; } //14px

.milli 		 { font-size: .875em; } //14px

p, dl, ul {
    margin: 0 0 $base-spacing 0;
}

ul {
	padding: 0 0 0 $base-spacing;
}

li {
	margin: 0 0 $half-spacing 0;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}

blockquote {
	padding: 0 0 0 $half-spacing;
	border-left: .5em solid $grey;
	margin: 0 0 $base-spacing 0;
}

blockquote p {
	font-style: italic;
}

blockquote small {
	display: block;
	text-align: right;
}